<div class="login-form">
    <form action="" method="post">
        <h2>Create User</h2>
        <hr>
        <div class="form-group">
            <small style="color: red;">{{message}}</small>
        </div>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" class="form-control" name="fullName" placeholder="Fullname" required value={{holder.fullName}}>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" name="username" placeholder="Username" required value={{holder.username}}>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="Email" required value={{holder.email}}>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="text" class="form-control" name="password" placeholder="Password" required value={{holder.password}}>
        </div>
        <div class="form-group">
            <select name="role" class="form-control">
                {{#each role}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="dob">Date of birth</label>
            <input id="dob" type="date" name="dob" class="form-control" placeholder="Date of Birth" value={{holder.dob}}>
        </div>
        <div class="form-group">
            <label for="education">Education</label>
            <input id="education" type="text" name="education" placeholder="Education" class="form-control" value={{holder.education}}>
        </div>
        <div class="form-group">
            <label for="programming-language">Programming language</label>
            <input id="programming-language" type="text" name="lang" placeholder="Programming language" class="form-control" value={{holder.lang}}>
        </div>
        <div class="form-group">
            <label for="score">TOEIC Score</label>
            <input id="score" type="number" name="score" placeholder="TOEIC score" class="form-control" value={{holder.score}}>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Add</button>
        </div>
    </form>
    <div class="hint-text">Go back to <a href="/admin/users">user control panel</a></div>
</div>