<div class="login-form">
    <form action="" method="post">
        <h2>Edit User</h2>
        <hr>
        <div class="form-group">
            <p><small style="color: red;">{{message}}</small></p>
        </div>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" class="form-control" name="fullName" value="{{user_data.fullName}}" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" name="username" placeholder="Username "
                value="{{user_data.username}}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="Email" value="{{user_data.email}}"
                required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                value="{{user_data.password}}" required>
        </div>
        <div class="form-group">
            <label>Role</label>T
            <select name="role" class="form-control" id="role">
                {{#each role}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input id="dob" type="date" name="dob" class="form-control" placeholder="Date of Birth"
                value="{{user_data.bio.DoB}}">
        </div>
        <div class="form-group">
            <label for="education">Education</label>
            <input id="" type="text" name="education" placeholder="Education" class="form-control"
                value="{{user_data.bio.Education}}">
        </div>
        <div class="form-group">
            <label for="lang">Programming Language</label>
            <input id="lang" type="text" name="lang" placeholder="Programming Language" class="form-control"
                value="{{user_data.bio.Lang}}">
        </div>
        <div class="form-group">
            <label for="score">TOEIC Score</label>
            <input id="score" type="number" name="score" placeholder="TOEIC score" class="form-control"
                value="{{user_data.bio.Score}}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Edit</button>
        </div>
    </form>
    <div class="hint-text">Go back to <a href="/admin/users">user control panel</a></div>
</div>
<!-- Role id: {{user_data.role._id}} | Role name: {{user_data.role.name}}-->
<script>
    $(document).ready(() => {
        $("select#role option[value={{{user_data.role._id}}}]").attr('selected', 'selected');
    });
</script>