<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="show-entries dropdown show">
                            <div class="dropdown create">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a class="dropdown-item" href="/admin/course/addcourse">Add course</a></li>
                                    <li><a class="dropdown-item" href="/admin/course/category">Manage category</a></li>
                                    <li><a class="dropdown-item" href="/admin/course/assign">Assign user to course</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center">Courses' <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <form action="" method="GET">
                            <div class="search-box">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search&hellip;" name="s">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Course's name <i class="fa fa-sort"></i></th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{category.name}}</td>
                        <td>
                            <div style="display: flex; justify-content: space-around; width: 80%">
                                <a href="/admin/course/view?id={{_id}}" class="view" title="View" data-toggle="tooltip"><i
                                    class="glyphicon glyphicon-eye-open"></i></a>
                                <a href="/admin/course/edit?id={{_id}}" class="edit" title="Edit" data-toggle="tooltip"><i
                                    class="glyphicon glyphicon-pencil"></i></a>
                                <a href="javascript:deleteitem('{{_id}}')" class="delete" title="Delete"
                                   data-toggle="tooltip"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Found <b>{{numOfItems}}</b> entries</div>
                <ul class="pagination">
                    {{#ifCond ifCond page ">" 1}}
                    <li class="page-item"><a href="?page={{math page '-' 1}}">Previous</a></li>
                    {{/ifCond}}
                    {{#each pages}}
                    {{#ifCond this "==" page}}
                    <li class="page-item active"><a href="" class="page-link">{{this}}</a></li>
                    {{else}}
                    <li class="page-item"><a href="?page={{this}}" class="page-link">{{this}}</a></li>
                    {{/ifCond}}
                    {{/each}}
                    {{#ifCond page ">" pagelength}}
                    <li class="page-item"><a href="?page={{math page '+' 1}}" class="pager-link">Next</a></li>
                    {{/ifCond}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    /**
    * Prompt to delete object by redirecting
    * @param {String} id
    */
    function deleteitem(id) {
        var allow = confirm("Are you sure to delete?");
        if (allow) window.location.href = "/admin/course/delete_course?id=" + id;
    }
</script>