<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="show-entries">
                        <a href="/admin/add" class="btn success"><i class="material-icons">&#xE147;</i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center">Courses' <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <form action="" method="GET">
                            <div class="search-box">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                    <input type="text" class="form-control" placeholder="Search&hellip;"
                                        name="s">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course's name <i class="fa fa-sort"></i></th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{category.name}}</td>
                        <td>
                            <a href="/admin/course/view?id={{_id}}" class="view" title="View" data-toggle="tooltip"><i
                                    class="material-icons">&#xE417;</i></a>
                            <a href="/admin/course/edit?id={{_id}}" class="edit" title="Edit" data-toggle="tooltip"><i
                                    class="material-icons">&#xE254;</i></a>
                            <a href="/admin/course/delete?id={{_id}}" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Found <b>{{numOfItems}}</b> entries</div>
                <ul class="pagination">
                    {{#ifCond ifCond page "==" 1}}
                    <li class="page-item disabled"><a href="" onclick="false">Previous</a></li>
                    {{else}}
                    <li class="page-item"><a href="?page={{minus page 1}}">Previous</a></li>
                    {{/ifCond}}
                    {{#each pages}}
                    {{#ifCond this "==" page}}
                    <li class="page-item active"><a href="" class="page-link">{{this}}</a></li>
                    {{else}}
                    <li class="page-item"><a href="?page={{this}}" class="page-link">{{this}}</a></li>
                    {{/ifCond}}
                    {{/each}}
                    {{#ifCond page "==" pagelength}}
                    <li class="page-item disabled"><a href="" class="pager-link" onclick="false">Next</a></li>
                    {{else}}
                    <li class="page-item"><a href="?page={{plus page 1}}" class="pager-link">Next</a></li>
                    {{/ifCond}}
                </ul>
            </div>
        </div>
    </div>
</div>